{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block stylesheets %}
    		<link rel="stylesheet" href="{{ asset('assets/css/acceuil.css') }}">
{% endblock %}

{% block body %}
<main>
    <img src="" alt="">
    <div  id="materielContain" >
        <h2>Mon matériel</h2>
        <div>
            <div id="imgOne">
                <img src="" alt="">
            </div>
            <div id="textTwo">
                <h3></h3>
                <p></p>
            </div>
            <div id="imgThree">
                <img src="" alt="">
            </div>
            <div id="textOne">
                <h3></h3>
                <p></p>
            </div>
            <div id="imgTwo">
                <img src="" alt="">
            </div>
            <div id="textThree">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>

</main>
{% endblock %}
