{% extends 'base.html.twig' %}


{% block title %}LoginController
{% endblock %}

{% block body %}
	<main>
		{% for message in app.flashes('notification') %}
			<div class="alert alert-info alert-dismissible fade show">
				{{ message }}
			</div>
		{% endfor %}
		{{form(form)}}
		</main>
	{% endblock %}
