{% extends 'base.html.twig' %}


{% block title %}LoginController
{% endblock %}

{% block body %}
	{% for message in app.flashes('notification') %}
		<div class="alert alert-info alert-dismissible fade show">
			{{ message }}
		</div>
	{% endfor %}
	{{form(form)}}{% endblock %}
